################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

appsettings.json
appsettings.Production.json
/.vs/api/FileContentIndex
/.vs/api/v17
Helpers/GoogleServiceHelper.cs

bin
obj
obj/Debug
obj/Debug/net8.0
